* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
    max-width: 240px;
    margin: 100px auto;
}

.calculator {
    font-size: 24px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,.3);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    border-radius: 5px;
}

.calculator input {
    background-color: transparent;
    text-align: right;
    margin: 0;
    padding: 0 0.4em;
    color: #fff;
    width: 240px;
    line-height: 2;
    border: none;

}

.buttons {}
.buttons > .row {}
.buttons > .row button {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 25%;
    float: left;
    background-color: #eee;
    line-height: 2;
    border: none;
    box-shadow: 1px -1px 0 rgba(0,0,0,.4) inset;
    outline: none;
}

.buttons > .row button:active {
    background-color: #ddd;
}



.buttons > .row button:last-child {
    background-color: darkorange;
    color: #fff;
}

.buttons > .row button:last-child:active {
    background-color: chocolate;
    color: #fff;
}



.buttons > .row > .nullButton {
    width: 50%;
}